@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

header {
    background-color: #263A29;
    height: 6rem;
    position: fixed;
    width: 100vw;
    z-index:1;
}

.logo,
nav {
    line-height: 6rem;
    color: white;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    border-right: 1px solid white;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-right: 3rem;
    list-style-type: none;
}

nav li:first-of-type {
    margin-left: 3rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.hero-image {
    background: url('../images/rainforest-cafe-hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    margin-bottom: 4rem;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

h2 {
    width: 25%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 2.25rem 0;
    clear: both;
}

#welcome {
    background-color: white;
    color: #263A29;
}

#welcome h2 {
    font-size: 4rem;
}

#welcome p {
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2.25rem;
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
    font-weight: 500;
}

#visit {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0 auto;
}

.why-visit {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 0;
    column-count: 4;
    column-gap: 0;
    box-sizing: border-box;
}

.visit-box {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid #263A29;
    border-bottom: none;
    box-sizing: border-box;
}

.visit-box:first-of-type {
    border-left:1px solid #263A29;
    box-sizing: border-box;
}

#visit h3 {
    background-color: white;
    color: #263A29;
}

h3 {
    padding: 2.25rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-top: 1px solid #263A29;
    border-left: 1px solid #263A29;
    background-color: #617A55;
}

.visit-box.first-box {
    background: url('../images/visit-box-fruit.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.second-box {
    background: url('../images/visit-box-cafe.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.third-box {
    background: url('../images/visit-box-farm.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.fourth-box {
    background: url('../images/visit-box-monkeys.jpg') no-repeat center center;
    background-size: cover;
}

.box-text {
    width: 100%;
    margin: 0 auto;
    padding: 2.25rem;
    box-sizing: border-box;
    text-align: center;
}

.section-link {
    width: 100%;
    height: 400px;
    column-count: 2;
    column-gap: 0;
    margin: 0;
    overflow: hidden;
}

.section-link-heading {
    height:100%;
    box-sizing: border-box;
    background-color: white;
    color:#263A29;
    border-top: 1px solid #263A29;
    border-bottom: 1px solid #263A29;
}

.section-link h2 {
    height:100%;
    width:100%;
    position: relative;
    top:25%;
    text-align: center;
    transform: rotate(-15deg);
    font-size:2rem;
    text-transform: uppercase;
}

.section-link-image {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #263A29;
    border-bottom: 1px solid #263A29;
}

.section-image-1 {
    background: url('../images/coconuts-blue-background.jpg') no-repeat center center;
    background-size: cover;
}

.section-image-2 {
    background: url('../images/pineapple-orange-background.jpg') no-repeat center center;
    background-size: cover;
}

.section-image-3 {
    background: url('../images/aubergines-purple-background.jpg') no-repeat center center;
    background-size: cover;
}

footer {
    width:100%;
    box-sizing: border-box;
    padding:0;
}

.social-media-links {
    background-color:#263A29;
    height:6rem;
    width:100%;
    margin:0;
    position: relative;
    display: block;
    text-align: center;
}

.social-media-links i {
    line-height:6rem;
    vertical-align: middle;
    font-size:2rem;
    color:white;
    margin:0 1rem;
}

.social-media-links i:last-of-type {
    margin-right:2rem;
}

.footer-list {
    display: block;
    column-count: 3;
    padding:2rem 0;
    text-align: center;
}

.footer-list ul {
    list-style-type:none;
    padding-top:2rem;
}

.footer-list ul li {
    padding:0.75rem 0;
}