@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'K2D', sans-serif;
    background-color: #fff;
    color: #263A29;
}

/* Header Styles */

header {
    background-color: #263A29;
    height: 6rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.logo,
.logo a,
nav {
    line-height: 6rem;
    color: white;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-right: 3rem;
    list-style-type: none;
}

nav li:first-of-type {
    margin-left: 3rem;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.active,
nav a:hover,
footer ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

a {
    text-decoration: none;
}

.hero-image {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* h2 {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    clear: both;
} */

.page-title {
    width: 50%;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: white;
    color: #263A29;
    font-size: 4rem;
}

#welcome p {
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
    font-weight: 500;
}

/* About Us Section Styles */

.visit-grid {
    height: min-content;
    width: 80%;
    margin: 0 auto;
    display: grid;
    column-count: 4;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.why-visit {
    height: min-content;
    width: 100%;
}

.visit-box-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.visit-box-title {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    color: #263A29;
}

.visit-box-text {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

/* Conservation Video Styles */

.farm-section-container {
    height: 100%;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

video {
    width: 100%;
    margin: 0 auto;
}

/* Page Links Section Styles */

.section-link-grid {
    height: 400px;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    column-count: 3;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-link-grid:hover .section-link:not(:hover) {
    opacity: 0.5;
}

.section-link {
    width: 100%;
}

.section-link a {
    height: 100%;
    width: 100%;
}

.section-link h2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
    color: white;
}

.section-1 {
    background: url('../images/book-now-image3.jpg') no-repeat center center;
    background-size: cover;
    background-color: #519259;
}

.section-2 {
    background: url('../images/find-us-image3.jpg') no-repeat center center;
    background-size: cover;
    background-color: #41644A;
}

.section-3 {
    background: url('../images/menu-image3.jpg') no-repeat center center;
    background-size: cover;
    background-color: #519259;
}

/* Footer Styles */

.footer-buffer {
    margin-top: 2rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.social-media-links {
    background-color: #263A29;
    height: 6rem;
    width: 100%;
    margin: 0;
    position: relative;
    bottom: 0;
    display: block;
    text-align: center;
}

.social-media-links i {
    line-height: 6rem;
    vertical-align: middle;
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
}

.social-media-links i:hover {
    transform: scale(1.5);
}

/* Menu Page */

.top-buffer {
    padding-top: 10rem;
}

#menu {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

/* Menu Navbar */

.menu-nav {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    display: inline-block;
    column-count: 4;
    column-gap: 0;
    background-color: #41644A;
}

.menu-nav li {
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    border-bottom: 2px solid white;
}

.menu-nav li a {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.menu-nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* Menu Sections */

#starters,
#mains,
#desserts,
#drinks {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    column-count: 4;
    column-gap: 2rem;
    display: inline-block;
    padding: 2rem;
    padding-bottom: 0;
}

#mains,
#desserts,
#drinks {
    margin-top: 2rem;
}

#starters,
#desserts {
    background-color: #519259;
}

#mains,
#drinks {
    background-color: #E86A33;
}

/* Menu: Cards Layout */

.menu-item-card {
    height: 350px;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    background-color: white;
    border: 1px solid #263A29;
}

.menu-subheading h2 {
    width: 100%;
    position: relative;
    top: 27.5%;
    font-size: 3rem;
}

.menu-item-image {
    height: 45%;
    width: 100%;
    overflow: hidden;
}

.menu-item-title {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    padding-top: 1rem;
}

.icon {
    width: 2rem;
    font-size: 0.8rem;
    display: inline;
    text-align: center;
    margin: 0 1rem;
}

.icon:first-of-type {
    padding: 0;
}

.menu-item-description {
    width: 80%;
    height: 55%;
    margin: 0 auto;
    height: 35%;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.menu-item-description span {
    height: 10%;
    width: 100%;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

/* Menu: Cards with Images */

.menu-item-image {
    object-fit: cover;
}

/* Find Us Page */

.map-and-address {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    column-count: 2;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.map-box {
    width: 100%;
    height: 100%;
    background: url('../images/find-us-map.png') no-repeat center center;
    background-size: cover;
}

.address-details {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

hr {
    margin: 3rem;
}

.opening-hours-list {
    padding-top: 1rem;
    display: grid;
    column-count: 2;
    grid-template-columns: 1fr 1fr;
}

.opening-hours-list p {
    text-align: right;
    padding: 1rem;
    padding-bottom: 0;
}

.open-from-to {
    text-align: left;
    padding: 1rem;
    padding-bottom: 0;
}

/* Book Now Page */

.book-now-buffer {
    padding-top: 2rem;
}

#form-section {
    height: 100%;
    background: url('../images/plants-background1.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
}

form {
    font-size: 1rem;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    color: #263A29;
}

#form-section h2 {
    width: 100%;
    padding: 6rem;
    padding-bottom: 2rem;
}

.booking-details {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

fieldset {
    border: none;
    background-color: white;
    column-count: 2;
}

/* Container grouping labels with their respective inputs */
.container {
    width: 100%;
    margin: 0.25rem auto;
    display: grid;
    column-count: 2;
    grid-template-columns: 1fr 1fr;
}

label {
    width: 80%;
    font-weight: 600;
    text-align: left;
    margin-left: 15%;
}

label,
input,
select,
textarea {
    height: 100%;
    padding: 0.5rem;
}

input,
select,
textarea {
    width: 80%;
    margin: 0 auto;
    margin-right: 15%;
    border: 0.5px solid #263A29;
}

textarea {
    resize: none;
}

.button-wrapper {
    height: 3rem;
    width: 100%;
    text-align: center;
    margin: 3rem auto;
    margin-bottom: 2rem;
}

#submit {
    height: 100%;
    width: 25%;
    padding: 1rem;
    background-color: #263A29;
    border: 0.5px solid #263A29;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Form Accepted Page */

.message-heading {
    font-size: 4rem;
    color: #263A29;
    text-align: center;
}

.message-p {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

/* Media Queries */

/* @media only screen and (min-width:1201px) {

    #welcome,
    #visit,
    #section-link-section {
        width: 80%;
        margin: 0 auto;
    }
} */

@media only screen and (max-width: 1200px) {

    /* Homepage Media Queries up to 1200px*/

    .logo,
    nav {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #263A29;
    }

    .page-title {
        width: 100%;
    }

    .visit-grid {
        column-count: 2;
        grid-template-columns: 1fr 1fr;
    }

    /* Find Us Page Media Queries up to 1200px */

    .top-buffer {
        padding-top: 12rem;
    }

    .map-and-address {
        width: 80%;
        height: 100%;
        column-count: 1;
        grid-template-columns: 1fr;
    }

    .map {
        height: 300px;
    }

    /* Book Now Page Media Queries up to 1200px */

    #form-section {
        padding-top: 10rem;
    }

    form,
    #form-section h2 {
        height: 100%;
        width: 100%;
    }

    #form-section h2 {
        padding: 2rem;
    }
}

@media only screen and (max-width: 992px) {

    /* Homepage Media Queries up to 992px*/

    .nav ul {
        column-count: 1;
    }

    .hero-image {
        margin-top: 5rem;
    }

    .visit-grid {
        column-count: 1;
        grid-template-columns: 1fr;
    }

    .visit-box-image {
        height: 500px;
    }

    .visit-box {
        height: min-content;
    }

    .visit-box-title {
        font-size: 3rem;
    }

    .box-text {
        height: 100%;
    }

    .box-text p {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    #our-farm-section {
        width: 100%;
    }

    video {
        width: 100%;
    }

    /* 
    .section-link {
        column-count: 1;
    } */

    /* Menu Page Media Queries up to 992px*/

    .menu-nav {
        width: 100%;
    }

    #starters,
    #mains,
    #desserts,
    #drinks {
        width: 100%;
        column-count: 2;
    }
}

@media only screen and (max-width: 768px) {

    /* Homepage Media Queries up to 768px */

    .hero-image {
        margin-top: 10rem;
        margin-bottom: 0;
    }

    #welcome,
    .visit-grid,
    .farm-section-container,
    .section-link-grid {
        width: 100%;
    }

    /* Book Now Page Media Queries up to 768px*/

    #form-section {
        padding-bottom: 0;
        margin: 0;
    }

    .container {
        width: 100%;
        column-count: 1;
        grid-template-columns: 1fr;
    }

    label,
    select,
    input,
    textarea {
        margin: 0;
        width: 100%;
    }

    label {
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 600px) {

    /* Homepage Media Queries up to 600px*/

    .logo,
    nav {
        line-height: 3rem;
    }

    nav ul {
        width: 100%;
        display: grid;
        column-count: 2;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    nav ul li {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    nav li:first-of-type {
        margin-left: 0;
    }

    .page-title {
        font-size: 2rem;
    }

    #welcome p {
        width: 90%;
        font-size: 1.5rem;
        margin: 2rem auto;
        margin-top: 1rem;
    }

    p {
        width: 90%;
    }

    .visit-box-title {
        font-size: 2rem;
    }

    .farm-section-container {
        margin-top: 0;
    }

    .section-link-grid {
        column-count: 1;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 0.5rem;
    }

    .social-media-links {
        height: 200%;
    }

    .social-media-links i {
        width: 33%;
    }

    /* Menu Page Media Queries up to 600px*/

    #starters,
    #mains,
    #desserts,
    #drinks {
        column-count: 1;
    }

    .menu-item-card {
        height: 100%;
    }

    /* Find Us Page Media Queries up to 600px*/

    .map-and-address {
        width: 100%;
    }

    /* Book Now Page Media Queries up to 600px*/

    #submit {
        width: 100%;
    }
}