@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

/* Header Styles */

header {
    background-color: #263A29;
    height: 6rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.logo,
nav {
    line-height: 6rem;
    color: white;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    border-right: 1px solid white;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-right: 3rem;
    list-style-type: none;
}

nav li:first-of-type {
    margin-left: 3rem;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

nav a:hover,
footer ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

a {
    text-decoration: none;
}

.hero-image {
    background: url('../images/rainforest-cafe-hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    margin-bottom: 4rem;
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

h2 {
    width: 25%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 2.25rem 0;
    clear: both;
}

.page-title {
    background-color: white;
    color: #263A29;
    font-size: 4rem;
}

#welcome p {
    width: 75%;
    margin: 0 auto;
    padding: 2.25rem;
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 1.15rem;
    font-weight: 500;
}

/* About Us Section Styles */

#visit {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0 auto;
}

.why-visit {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 0;
    column-count: 4;
    column-gap: 0;
}

.visit-box {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid #263A29;
    border-bottom: none;
}

.visit-box:first-of-type {
    border-left: 1px solid #263A29;
}

#visit h3 {
    background-color: white;
    color: #263A29;
}

h3 {
    padding: 2.25rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-top: 1px solid #263A29;
    border-left: 1px solid #263A29;
    background-color: #617A55;
}

.visit-box.first-box {
    background: url('../images/visit-box-fruit.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.second-box {
    background: url('../images/visit-box-cafe.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.third-box {
    background: url('../images/visit-box-farm.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.fourth-box {
    background: url('../images/visit-box-monkeys.jpg') no-repeat center center;
    background-size: cover;
}

.box-text {
    width: 100%;
    margin: 0 auto;
    padding: 2.25rem;
    text-align: center;
}

/* Page Links Section Styles */

.section-link {
    width: 100%;
    height: 400px;
    column-count: 2;
    column-gap: 0;
    margin: 0;
    overflow: hidden;
}

.section-link-heading {
    height: 100%;
    color: #263A29;
    border-top: 1px solid #263A29;
    border-bottom: 1px solid #263A29;
}

.section-link h2 {
    height: 100%;
    width: 100%;
    position: relative;
    top: 25%;
    text-align: center;
    transform: rotate(-15deg);
    font-size: 2rem;
    text-transform: uppercase;
}

.section-link-image {
    height: 100%;
    width: 100%;
    border-top: 1px solid #263A29;
    border-bottom: 1px solid #263A29;
}

.section-image-1 {
    background: url('../images/coconuts-blue-background.jpg') no-repeat center center;
    background-size: cover;
}

.section-image-2 {
    background: url('../images/pineapple-orange-background.jpg') no-repeat center center;
    background-size: cover;
}

.section-image-3 {
    background: url('../images/aubergines-purple-background.jpg') no-repeat center center;
    background-size: cover;
}

/* Footer Styles */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.social-media-links {
    background-color: #263A29;
    height: 6rem;
    width: 100%;
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
}

.social-media-links i {
    line-height: 6rem;
    vertical-align: middle;
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
}

.social-media-links i:last-of-type {
    margin-right: 2rem;
}

.social-media-links i:hover {
    transform: scale(1.5);
}

.footer-list {
    display: block;
    column-count: 3;
    padding: 2rem 0;
    text-align: center;
}

.footer-list ul {
    list-style-type: none;
    padding-top: 2rem;
}

.footer-list ul li {
    padding: 0.75rem 0;
}

footer ul li a {
    color: #263A29;
}

/* Menu Page */

.top-buffer {
    padding-top: 10rem;
}

#menu {
    width: 100%;
    height: 100%;
    text-align: center;
}

.starters,
.mains,
.desserts,
.drinks {
    width: 80%;
    margin-top: 4rem;
    column-count: 4;
    column-gap: 2rem;
    display: inline-block;
    padding: 2rem;
}

.menu-item-card {
    height: 350px;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.menu-item-image {
    height: 50%;
    width: 100%;
}

/* Menu: Starters Cards with Images */

.item-1 {
    background: url('../images/menu-items/starters-aubergine.jpg') no-repeat center center;
    background-size: cover;
}

.item-2 {
    background: url('../images/menu-items/starters-avocado.jpg') no-repeat center center;
    background-size: cover;
}

.item-3 {
    background: url('../images/menu-items/starters-pear-bruschetta.jpg') no-repeat center center;
    background-size: cover;
}

.item-4 {
    background: url('../images/menu-items/starters-focaccia.jpg') no-repeat center center;
    background-size: cover;
}

.item-5 {
    background: url('../images/menu-items/starters-pumpkin-soup.jpg') no-repeat center center;
    background-size: cover;
}

.item-6 {
    background: url('../images/menu-items/starters-tomato-soup.jpg') no-repeat center center;
    background-size: cover;
}

.item-7 {
    background: url('../images/menu-items/starters-olives.jpg') no-repeat center center;
    background-size: cover;
}

/* Menu: Mains Cards with Images */

.item-8 {
    background: url('../images/menu-items/mains-superfood-salad.jpg') no-repeat center center;
    background-size: cover;
}

.item-9 {
    background: url('../images/menu-items/mains-tofu-salad.jpg') no-repeat center center;
    background-size: cover;
}

.item-10 {
    background: url('../images/menu-items/mains-vegetable-noodles.jpg') no-repeat center center;
    background-size: cover;
}

.item-11 {
    background: url('../images/menu-items/mains-veggie-burger.jpg') no-repeat center center;
    background-size: cover;
}

.item-12 {
    background: url('../images/menu-items/mains-tofu-coconut-curry.jpg') no-repeat center center;
    background-size: cover;
}

.item-13 {
    background: url('../images/menu-items/mains-pizza.jpg') no-repeat center center;
    background-size: cover;
}

.item-14 {
    background: url('../images/menu-items/mains-cauliflower-salad.jpg') no-repeat center center;
    background-size: cover;
}

/* Menu: Desserts Cards with Images */

.item-15 {
    background: url('../images/menu-items/desserts-apple-tart.jpg') no-repeat center center;
    background-size: cover;
}

.item-16 {
    background: url('../images/menu-items/desserts-brownies.jpg') no-repeat center center;
    background-size: cover;
}

.item-17 {
    background: url('../images/menu-items/desserts-cheesecake.jpg') no-repeat center center;
    background-size: cover;
}

.item-18 {
    background: url('../images/menu-items/desserts-lemon-pie.jpg') no-repeat center center;
    background-size: cover;
}

.item-19 {
    background: url('../images/menu-items/desserts-macarons.jpg') no-repeat center center;
    background-size: cover;
}

.item-20 {
    background: url('../images/menu-items/desserts-raspberry-lollies.jpg') no-repeat center center;
    background-size: cover;
}

.item-21 {
    background: url('../images/menu-items/desserts-ice-cream.jpg') no-repeat center center;
    background-size: cover;
}

/* Menu: Drinks Cards with Images */

.item-22 {
    background: url('../images/menu-items/drinks-orange-soda.jpg') no-repeat center center;
    background-size: cover;
}

.item-23 {
    background: url('../images/menu-items/drinks-peach-tea.jpg') no-repeat center center;
    background-size: cover;
}

.item-24 {
    background: url('../images/menu-items/drinks-strawberry-tea.jpg') no-repeat center center;
    background-size: cover;
}

.item-25 {
    background: url('../images/menu-items/drinks-green-smoothie.jpg') no-repeat center center;
    background-size: cover;
}

.item-26 {
    background: url('../images/menu-items/drinks-strawberry-smoothie.jpg') no-repeat center center;
    background-size: cover;
}

.item-27 {
    background: url('../images/menu-items/drinks-soft-drinks.jpg') no-repeat center center;
    background-size: cover;
}

.item-28 {
    background: url('../images/menu-items/drinks-coffee.jpg') no-repeat center center;
    background-size: cover;
}

.menu-item-description {
    height: 50%;
    padding: 2rem;
}

/* Book Now Page */

#form-section {
    height:750px;
    column-count: 2;
}

form {
    height: 100%;
    width: 100%;
    color: #263A29;
}

.booking-details {
    width:100%;
    margin:0 auto;
    padding:2rem;
}

.container {
    width:100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    padding:2rem;
}

label, input, select, textarea {
    width:100%;
    padding:0 2rem;
} 

.book-now-image {
background: url('../images/plants-background.jpg') no-repeat center center;
background-size: cover;
height: 100%;
width: 100%;
}

