@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #263A29;
    color: white;
}

header {
    background-color: #263A29;
    height: 5rem;
    border-bottom: 1px solid #617A55;
}

.logo,
nav {
    line-height: 5rem;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    border-right: 1px solid #617A55;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-right: 3rem;
    list-style-type: none;
}

nav li:first-of-type {
    margin-left: 3rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.hero-image {
    background: url('../../images/rainforest-cafe-hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 4rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    width: 25%;
    /* background-color: #FFF8D6;
    border: 1px solid #263A29;
    border-radius: 1rem; */
    /* color: #617A55; */
    padding: 2.25rem 0;
    clear: both;
}

#welcome p {
    width: 75%;
    margin: 0 auto;
    /* background-color: #617A55;
    color: #FFF8D6;
    border: 1px solid #263A29;
    border-radius: 1rem; */
    box-sizing: border-box;
    padding: 2.25rem;
    text-align: center;
}

p {
    font-size: 1.15rem;
    font-weight: 500;
}

.why-visit {
    width: 100%;
    margin: 4rem auto;
    padding: 0 2.25rem;
    column-count: 4;
    box-sizing: border-box;
}

.visit-box {
    height: 300px;
    width: 100%;
    background-color: #617A55;
    margin: 0 auto;
    border: 1px solid #263A29;
    border-top: none;
    box-sizing: border-box;
}

h3 {
    padding: 2.25rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid #263A29;
    border-radius: 1rem 1rem 0 0;
    background-color: #617A55;
}

.visit-box.first-box {
    background: url('../../images/visit-box-fruit.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.second-box {
    background: url('../../images/visit-box-cafe.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.third-box {
    background: url('../../images/visit-box-farm.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.fourth-box {
    background: url('../../images/visit-box-monkeys.jpg') no-repeat center center;
    background-size: cover;
}

.box-text {
    width: 100%;
    margin: 0 auto;
    padding: 2.25rem;
    box-sizing: border-box;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
}

#menu {
    width: 80%;
    margin: 0 auto;
}

#menu li {
    padding: 1rem 2rem;
    list-style-type: none;
}

.menu-items {
    float: left;
    font-size: 1rem;
}

.price {
    float: right;
    font-size: 1rem;
}

.add-ons {
    column-count: 2;
    position: relative;
    margin-left: 3rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    list-style-type: none;
}

.add-ons-price {
    text-align: end;
    position: relative;
    right: 3rem;
    font-size: 1rem;
}