@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

header {
    background-color: #fff;
    height: 5rem;
    border-bottom: 1px solid #263A29;
}

.logo,
nav {
    line-height: 5rem;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #263A29;
    border-right: 1px solid #263A29;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-right: 3rem;
    list-style-type: none;
    font-size: 1.25rem;
}

nav li:first-of-type {
    margin-left: 3rem;
}

nav a {
    text-decoration: none;
    color: #263A29;
    font-weight: 600;
}

h2 {
    margin: 5rem auto;
    text-align: center;
    width: 25%;
    background-color: #FFF8D6;
    ;
    border: 1px solid #263A29;
    border-radius: 1rem;
    color: #617A55;
    padding: 2.25rem 0;
    clear: both;
}

#welcome p {
    width: 75%;
    margin: 5rem auto;
    background-color: #617A55;
    color: #FFF8D6;
    border: 1px solid #263A29;
    ;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 2.25rem;
    text-align: center;
}

.why-visit {
    width: 100%;
    margin: 5rem auto;
    padding: 0 2.25rem;
    column-count: 4;
    box-sizing: border-box;
}

.visit-box {
    height: 300px;
    width: 100%;
    background-color: #617A55;
    margin: 0 auto;
    border: 1px solid #263A29;
    border-top: none;
    box-sizing: border-box;
}

h3 {
    padding: 2.25rem;
    box-sizing: border-box;
    text-align: center;
    color: #FFF8D6;
    border: 1px solid #263A29;
    ;
    border-radius: 1rem 1rem 0 0;
    background-color: #617A55;
}

.visit-box.first-box {
    background: url('../../images/visit-box-fruit.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.second-box {
    background: url('../../images/visit-box-cafe.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.third-box {
    background: url('../../images/visit-box-farm.jpg') no-repeat center center;
    background-size: cover;
}

.visit-box.fourth-box {
    background: url('../../images/visit-box-monkeys.jpg') no-repeat center center;
    background-size: cover;
}

.box-text {
    width: 100%;
    margin: 0 auto;
    padding: 2.25rem;
    box-sizing: border-box;
    border-radius: 0 0 1rem 1rem;
    color: #FFF8D6;
    text-align: center;
}